.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content";
    grid-template-rows: 80px 1fr ;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1vw;
    width: 1200px;

}
.app-wrapper-content {
    grid-area:content;
    background-color: lavender;
/* оконтовка*/
    background-color: honeydew;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

