.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content";
    grid-template-rows: 80px 1fr ;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1vw;
    width: 1200px;

}
.app-wrapper-content {
    grid-area:content;
    background-color: lavender;
}

